webservice/src/main/resources/META-INF/wsdl/cardType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://webservice.jmbmn.com/entity/ws/types" 
	xmlns:tns="http://webservice.jmbmn.com/entity/ws/types" 
	elementFormDefault="qualified">
	
	<xsd:complexType name="CardType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int"></xsd:element>
			<xsd:element name="alias" type="xsd:string"></xsd:element>
			<xsd:element name="franchise" type="xsd:string"></xsd:element>
			<xsd:element name="favorite" type="xsd:boolean"></xsd:element>
			<xsd:element name="internationalCard" type="xsd:boolean"></xsd:element>
			<xsd:element name="state" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>